<!DOCTYPE html>
<html>
<head>

    <title>My First HTML</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
  	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
  	<meta name="author" content="John Doe">
	<style>
		body {background-color: powderblue;}
		h2 {
        	color: red;
        }
        h3 {
    		color: green;
        	font-family: verdana;
        	font-size: 300%;
    	}
        #p01 {
        	color: orange;
            border: 1px solid red;
  			margin: 50px;
        }
        p.error {
        	color: purple;
            border: 1px solid red;
            padding: 30px;
        }
	</style>
	<!-- <link rel="stylesheet" href="styles.css"> -->


</head>
<body>

<h1 style="color:blue;">******HTML Basic******</h1>
<h1>This is heading 1</h1>
<h2>This is heading 2</h2>
<h3>This is heading 3</h3>
<h4>This is heading 4</h4>
<h5>This is heading 5</h5>
<h6>This is heading 6</h6>

<p>This is a paragraph.</p>
<p>This is another paragraph.</p>

<a href="https://www.w3schools.com">This is a link</a>

<img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">

<button>Click me</button>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<h1 style="color:blue;">******HTML Attribute******</h1>
<h2 title="I'm a header">The title Attribute</h2>
<p title="I'm a tooltip">
Mouse over this paragraph, to display the title attribute as a tooltip.
</p>

<a href="https://www.w3schools.com">This is a link</a>

<img src="img_girl.jpg" width="500" height="600">

<img src="img_girl.jpg" alt="Girl with a jacket" width="500" height="600">

<a href=https://www.w3schools.com>This is a link</a>

<h1 style="color:blue;">******HTML Heading and para******</h1>
<hr>

<p>This is<br>a paragraph<br>with line breaks</p>

<pre>
   My Bonnie lies over the ocean.

   My Bonnie lies over the sea.

   My Bonnie lies over the ocean.

   Oh, bring back my Bonnie to me.
</pre>

<h1 style="color:blue;">******HTML Style******</h1>
<p style="color:red;">I am blue</p>
<p style="font-size:50px;">I am big</p>

<body style="background-color:powderblue;">

<h1 style="font-family:verdana;">This is a heading</h1>
<p style="font-family:courier;">This is a paragraph.</p>

<h1 style="font-size:300%;">This is a heading</h1>
<p style="font-size:160%;">This is a paragraph.</p>

<h1 style="text-align:center;">Centered Heading</h1>
<p style="text-align:center;">Centered paragraph.</p>

<h1 style="color:blue;">******Html Text Formatting******</h1>
<p><b>This text is bold.</b></p>
<p><strong>This text is strong.</strong></p>
<p><i>This text is italic.</i></p>
<p><em>This text is emphasized.</em></p>
<h2>HTML <small>Small</small> Formatting</h2>
<h2>HTML <mark>Marked</mark> Formatting</h2>
<p>My favorite color is <del>blue</del> red.</p>
<p>My favorite <ins>color</ins> is red.</p>
<p>My favorite color is <del>blue</del> <ins>red</ins>.</p>
<p>This is <sub>subscripted</sub> text.</p>
<p>This is <sup>superscripted</sup> text.</p>

<h1 style="color:blue;">******HTML Quotations and Citations******</h1>
<p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
For nearly 60 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by more than one million members in the United States and close to five million globally.
</blockquote>
<address>
Written by John Doe.<br>
Visit us at:<br>
Example.com<br>
Box 564, Disneyland<br>
USA
</address>
<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
<img src="img_the_scream.jpg" width="220" height="277" alt="The Scream">
<p><cite>The Scream</cite> by Edvard Munch. Painted in 1893.</p>
<bdo dir="rtl">This line will be written from right to left</bdo>

<h1 style="color:blue;">******HTML Comments******</h1>
<!-- This is a comment -->
<p>This is a paragraph.</p>
<!-- Comments are not displayed in the browser -->

<!--[if IE 5]>This is IE 5<br><![endif]-->
<!--[if IE 6]>This is IE 6<br><![endif]-->
<!--[if IE 7]>This is IE 7<br><![endif]-->
<!--[if IE 8]>This is IE 8<br><![endif]-->
<!--[if IE 9]>This is IE 9<br><![endif]-->

<!-- Do not display this at the moment
<img border="0" src="pic_trulli.jpg" alt="Trulli">
-->

<h1 style="color:blue;">******HTML CSS******</h1>
<p style="color:red;">inline CSS, internal CSS, external CSS</p>
<h2>This is a h2 heading</h2>
<p>THis is a paragraph<p>
<p id="p01">I am different.</p>
<p class="error">I am not different.</p>

<div style="position:relative;">
  <div style="opacity:0.5;position:absolute;left:50px;top:-30px;width:300px;height:150px;background-color:#40B3DF"></div>
  <div style="opacity:0.3;position:absolute;left:120px;top:20px;width:100px;height:170px;background-color:#73AD21"></div>
  <div style="margin-top:30px;width:360px;height:130px;padding:20px;border-radius:10px;border:10px solid #EE872A;font-size:120%;">
    <h1>CSS = Styles and Colors</h1>
    <div style="letter-spacing:12px;font-size:15px;position:relative;left:25px;top:25px;">Manipulate Text</div>
    <div style="color:#40B3DF;letter-spacing:12px;font-size:15px;position:relative;left:25px;top:30px;">Colors,
    <span style="background-color:#B4009E;color:#ffffff;"> Boxes</span></div>
  </div>
</div>

<h1 style="color:blue;">******HTML Script******</h1>
<p id="demo"></p>
<script>
document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script>
<noscript>Sorry, your browser does not support JavaScript!</noscript>
<p>Save the document by pressing <kbd>Ctrl + S</kbd> <samp>Error!</samp></p>
<code>
x = 5;
y = 6;
z = x + y;
</code>
<pre>
<code>
x = 5;
y = 6;
z = x + y;
</code>
</pre>
<p>Einstein wrote: <var>E</var> = <var>mc</var><sup>2</sup>.</p>

<h1 style="color:blue;">******HTML Forms******</h1>
<form action="/action_page.php">
  <fieldset>
    <legend>Personal information:</legend>
    First name:<br>
    <input type="text" name="firstname" value="Mickey">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="Mouse">
    <br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

<h1 style="color:blue;">******HTML Forms Elements******</h1>
<form action="/action_page.php">
  <select name="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat" selected>Fiat</option>
    <option value="audi">Audi</option>
  </select>
  <br><br>
  <input type="submit">
</form>

<form action="/action_page.php">
  <textarea name="message" rows="10" cols="30">The cat was playing in the garden.</textarea>
  <br>
  <input type="submit">
</form>

<button type="button" onclick="alert('Hello World!')">Click Me!</button>

























</body>
</html>